@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serf;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(banner.png) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    height: 800px;
}
.wrapper{
    width: 450px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(255, 255, 255, .2);
    color:#fff;
    border-radius: 10px;
    padding: 30px 40px;
    box-sizing: 100px;
    transition: 5s;
}
.wrapper h1{
    text-align:center;
    font-size: 36px;
}
.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;

}
nav{
    display: block;
    position: relative;
    align-items: center;
    padding: 10px 50px;
    margin: 10% 0 7% 21%;
    position: relative;
    width: 200px;
    height: 10px
   
}

nav a img{
    width: 90%;
    padding: -100%;
    flex-direction: center;
    

}
nav img:hover{
    color:#fff;
}
.input-box input{
    width:100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: #fff;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin:-15px 0 15px;
}

.remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a{
    color: #fff;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;

}
.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0 .1);
    cursor: pointer;
    font-size:16px;
    color: #333;
    font-weight: 600;
}

.wrapper .register-link{
    text-align: center;
    margin: 20px 0 15px;
    font-size: 14.5px;
}
.register-link p a{
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    font-weight: 600;

}
.register-link a:hover{
    text-decoration: underline;

}
@media(max-width: 700px){
    body{
    min-height: 100vh;
    width: 100%;
    height: 700px;
    }
    .wrapper{
        display: block;
        width: 450px;
    }
}